<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission (needed for APIs, login, etc.) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrbanSpace"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity
            android:name=".WasteScheduleActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LocalitySelectionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ReminderSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmergencyContactsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmergencyProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PhoneVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.UrbanSpace.Light"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.UrbanSpace.Light"
            android:exported="false" />
        <activity
            android:name=".WelcomeOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UrbanSpace.Light"
            android:exported="false" />
        <activity
            android:name=".TransportOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UrbanSpace.Light"
            android:exported="false" />
        <activity
            android:name=".WasteOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UrbanSpace.Light"
            android:exported="false" />
        <activity
            android:name=".EmergencyOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UrbanSpace.Light"
            android:exported="false" />
        <activity
            android:name=".LostFoundOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UrbanSpace.Light"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>